@charset 'utf-8';

/**
 *
 * 说明：z-index: mask:99 设为固定值
 *
 */


/*=============================================
=            基本样式设定            =
=============================================*/
html{
    font-size: 625% !important;
    font-family:'MicrosoftYaHei','微软雅黑','Hiragino Sans GB', 'Helvetica' , Arial, sans-serif;
}

@media only screen and (min-width:414px){
    html { 
        font-size: 625% !important; 
    }
}

@media only screen and (min-width:481px){
    html { 
        font-size: 750% !important;
    }
}
@media only screen and (min-width:560px){
    html{
        font-size:875% !important;
    }
}

body{
    font-family: 'MicrosoftYaHei','微软雅黑', 'pisen', 'Hiragino Sans GB', 'Helvetica' , Arial, sans-serif;
    font-size: 0.14rem;
}
a, i, ul, li, dd, dl, dt, main, header, section, footer, article, aside, nav, figure{
    display: block;
}
body,h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, ul, li, dd, dl, dt{
    margin: 0; padding: 0; 
}

div, a, i, ul, li, dd, dl, dt, main, header, section, footer, article, aside, nav, figure{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
fieldset, img {
    border:0;
}
ul, i{ 
    list-style:none;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{ 
    font-size: 0.14rem; 
}


/* 文字 */
.f12{
    font-size: 0.12rem !important;
}
.f14{
    font-size: 0.14rem !important;
}
.f16{
    font-size:0.16rem !important;
}
.f20{
    font-size:0.20rem !important;
}
.f10{
    font-size: 0.10rem !important;
}
.f-bold{font-weight: bold;}
.f-normal{font-weight: normal;}
.t-c{text-align:center !important;}
.t-r{text-align:right !important;}
.t-l{text-align:left !important;}
.t-j{text-align:justify !important;}
.red{
    color: red;
}
.fone-ellipsis{
  /*超出一排省略号*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ftwo-ellipsis{
  /*超出两排省略号*/
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.f3-ellipsis{
  /*超出两排省略号*/
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:3;
}
.f4-ellipsis{
  /*超出两排省略号*/
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;
}
/* 尺寸 size */
.w1{
    width: 1%;
}
.w2{
    width: 2%;
}
.w3{
    width: 3%;
}
.w4{
    width: 4%;
}
.w5{
    width: 5%;
}
.w6{
    width: 6%;
}
.w7{
    width: 7%;
}
.w8{
    width: 8%;
}
.w9{
    width: 9%;
}
.w10{
    width: 10%;
}
.w15{
    width: 15%;
}
.w20{
    width: 20%;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}
.w100{
    width: 100%;
}

.pr0{
    padding-right: 0!important;
}
.pr1{
    padding-right: 0.01rem;
}
.pr2{
    padding-right: 0.02rem;
}
.pr3{
    padding-right: 0.03rem;
}
.pr4{
    padding-right: 0.04rem;
}
.pr5{
    padding-right: 0.05rem;
}
.pr6{
    padding-right: 0.06rem;
}
.pr7{
    padding-right: 0.07rem;
}
.pr8{
    padding-right: 0.08rem;
}
.pr9{
    padding-right: 0.09rem;
}
.pr10{
    padding-right:0.1rem;
}
.pr15{
    padding-right: 0.15rem;
}
.pr20{
    padding-right:2rem;
}

.pl0{
    padding-left: 0!important;
}
.pl1{
    padding-left: 0.01rem;
}
.pl2{
    padding-left: 0.02rem;
}
.pl3{
    padding-left: 0.03rem;
}
.pl4{
    padding-left: 0.04rem;
}
.pl5{
    padding-left: 0.05rem;
}
.pl6{
    padding-left: 0.06rem;
}
.pl7{
    padding-left: 0.07rem;
}
.pl8{
    padding-left: 0.08rem;
}
.pl9{
    padding-left: 0.09rem;
}
.pl10{
    padding-left:0.1rem;
}
.pl15{
    padding-left: 0.15rem;
}
.pl20{
    padding-left:2rem;
}

.ptb0{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.pt0{
    padding-top: 0!important;
}
.pt1{
    padding-top: 0.01rem;
}
.pt2{
    padding-top: 0.02rem;
}
.pt3{
    padding-top:0.03rem;
}
.pt4{
    padding-top: 0.04rem;
}
.pt5{
    padding-top: 0.05rem;
}
.pt6{
    padding-top: 0.06rem;
}
.pt7{
    padding-top: 0.07rem;
}
.pt8{
    padding-top: 0.08rem;
}
.pt9{
    padding-top: 0.09rem;
}
.pt10{
    padding-top:0.1rem;
}
.pt15{
    padding-top: 0.15rem;
}
.pt20{
    padding-top:2rem;
}
.pb0{
    padding-bottom: 0!important;
}
.pb1{
    padding-bottom: 0.01rem;
}
.pb2{
    padding-bottom: 0.02rem;
}
.pb3{
    padding-bottom: 0.03rem;
}
.pb4{
    padding-bottom: 0.04rem;
}
.pb5{
    padding-bottom: 0.05rem;
}
.pb6{
    padding-bottom: 0.06rem;
}
.pb7{
    padding-bottom: 0.07rem;
}
.pb8{
    padding-bottom: 0.08rem;
}
.pb9{
    padding-bottom: 0.09rem;
}
.pb10{
    padding-bottom:0.1rem;
}
.pb15{
    padding-bottom: 0.15rem;
}
.pb20{
    padding-bottom:2rem;
}


.mb0{
    margin-bottom: 0!important;
}
.mb1{
    margin-bottom: 0.01rem;
}
.mb2{
    margin-bottom: 0.02rem;
}
.mb3{
    margin-bottom: 0.03rem;
}
.mb4{
    margin-bottom: 0.04rem;
}
.mb5{
    margin-bottom: 0.05rem;
}
.mb6{
    margin-bottom: 0.06rem;
}
.mb7{
    margin-bottom: 0.07rem;
}
.mb8{
    margin-bottom: 0.08rem;
}
.mb9{
    margin-bottom: 0.09rem;
}
.mb10{
    margin-bottom:0.1rem !important;
}
.mb15{
    margin-bottom: 0.15rem;
}
.mb20{
    margin-bottom:0.2rem;
}
.mb30{
    margin-bottom:0.3rem;
}

.mt0{
    margin-top: 0!important;
}
.mt1{
    margin-top: 0.01rem;
}
.mt2{
    margin-top: 0.02rem;
}
.mt3{
    margin-top: 0.03rem;
}
.mt4{
    margin-top: 0.04rem;
}
.mt5{
    margin-top: 0.05rem !important;
}
.mt6{
    margin-top: 0.06rem;
}
.mt7{
    margin-top: 0.07rem;
}
.mt8{
    margin-top: 0.08rem;
}
.mt9{
    margin-top: 0.09rem;
}
.mt10{
    margin-top:0.1rem;
}
.mt15{
    margin-top: 0.15rem;
}
.mt20{
    margin-top:0.2rem;
}
.mt30{
    margin-top:0.3rem;
}

.ml0{
    margin-left: 0!important;
}
.ml1{
    margin-left: 0.01rem;
}
.ml2{
    margin-left: 0.02rem;
}
.ml3{
    margin-left: 0.03rem;
}
.ml4{
    margin-left: 0.04rem;
}
.ml5{
    margin-left: 0.05rem;
}
.ml6{
    margin-left: 0.06rem;
}
.ml7{
    margin-left: 0.07rem;
}
.ml8{
    margin-left: 0.08rem;
}
.ml9{
    margin-left: 0.09rem;
}
.ml10{
    margin-left:0.1rem;
}
.ml15{
    margin-left: 0.15rem;
}
.ml20{
    margin-left:0.2rem;
}

.mr0{
    margin-right: 0!important;
}
.mr1{
    margin-right: 0.01rem;
}
.mr2{
    margin-right: 0.02rem;
}
.mr3{
    margin-right: 0.03rem;
}
.mr4{
    margin-right: 0.04rem;
}
.mr5{
    margin-right: 0.05rem;
}
.mr6{
    margin-right: 0.06rem;
}
.mr7{
    margin-right: 0.07rem;
}
.mr8{
    margin-right: 0.08rem;
}
.mr9{
    margin-right: 0.09rem;
}
.mr10{
    margin-right:0.1rem;
}
.mr15{
    margin-right: 0.15rem;
}
.mr20{
    margin-right:0.2rem;
}



.plr0{
    padding-left: 0!important;
    padding-right: 0!important;
}
.plr1{
    padding-left: 0.01rem;
    padding-right: 0.01rem;
}
.plr2{
    padding-left: 0.02rem;
    padding-right: 0.02rem;
}
.plr5{
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}
.plr10{
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.ptb0{
    padding-top: 0;
    padding-bottom: 0;
}
.ptb1{
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
}
.ptb2{
    padding-top: 0.02rem;
    padding-bottom: 0.02rem;
}
.ptb5{
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
.ptb10{
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}
.mlr0{
    margin-left: 0;
    margin-right: 0;
}
.mlr1{
    margin-left: 0.01rem;
    margin-right: 0.01rem;
}
.mlr2{
    margin-left: 0.02rem;
    margin-right: 0.02rem;
}
.mlr5{
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
.mlr10{
    margin-left:0.1rem;
    margin-right:0.1rem;
}
.mlr15{
    margin-left: 0.15rem;
    margin-right: 0.15rem;
}
.mlr20{
    margin-left:0.2rem;
    margin-right:0.2rem;
}
.mtb0{
    margin-top: 0;
    margin-bottom: 0;
}
.mtb1{
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}
.mtb2{
    margin-top: 0.02rem;
    margin-bottom: 0.02rem;
}
.mtb5{
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}
.mtb10{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.mtb15{
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}
.mtb20{
    margin-top:0.2rem;
    margin-bottom:0.2rem;
}

.p10{
    padding: 0.1rem !important;
}

/* 输入框 */
input[type="number"]{
    -moz-appearance: textfield;
}
input::-webkit-search-cancel-button{
    display: none;
}
input[type=search]::-ms-clear{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="search"]{
    -webkit-appearance: none;
}
input, button, select, textarea { outline:none; }

/* a链接 */
a {text-decoration: none;color:#333;}
a:link{color: #333;}
a:hover{color: #333;}
a:active{color:#333;}
/* 其它 */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.inlineblock{
    display: inline-block;
}
.flex {display: flex;flex-wrap:wrap;width: 100%;}
.flex-inline {display: inline-flex;}
/* 同时获得 .justify-center 和 .align-middle 样式*/
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-itmCen {
  align-items: center;
}
.flex-conCen {
  justify-content: center;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2
}

.block{
    display: block;
}
.none{
    display: none!important;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cf:after,
.cf:before{ 
  display: table; 
  content: " ";
  line-height:0;
}
.cf:after{
  clear: both;
  visibility:hidden;
}
.hidden{
  visibility: hidden;
}

/* vertical-align */
.vm{
    vertical-align:middle;
}
.vtb{
    vertical-align:text-bottom;
}
.vb{
    vertical-align:bottom;
}
.vt{
    vertical-align:top;
}


/*=====  End of 基本样式设定  ======*/
body{
    background-color: #f5f5f5;
}
img{
    width: 100%;
    height: auto;
}
i{
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    /* border: 1px solid red; */
}
header {
    background: radial-gradient(top, #394e86 10%, #2f78a3);
    background: -webkit-radial-gradient(top, #394e86 10%, #2f78a3);
    padding: 5px 10px;
    box-sizing: border-box;
    z-index: 103;
    /* height: 0.5rem; */
    color: #fff;
    text-align: center;
    font-size: 0.12rem;
}
header .hw{
    position: relative;
    display: flex;
    align-items: center;
}
header .hw .menu,
header .hw .search{
    width: 0.5rem;
    text-align: right;
}
header .hw .search{
    text-align: left;
}
header .hw .logo{
    width: calc(100% - 1rem);
}
header .hw img{
    height: 0.16rem;
    width: auto;
}
header .hw .logo img{
    height: 0.4rem;
}

.sc-wp{
    position: relative;
    margin-bottom: 0.1rem;
    display: none;
}
.sc-wp input{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 0.14rem;
    padding: 0.1rem;
    padding-left: 0.3rem;
    width: 100%;
    border: 0;
    color: #fff;
    position: relative;
}
input::-webkit-input-placeholder{
    color: #eee;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #eee;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #eee;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: #eee;
}
.sc-wp form{
    position: relative;
}
.sc-wp i{
    display: inline-block;
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    border: 1px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.sc-wp i.l{
    left: 0.1rem;
}
.sc-wp i.r{
    right: 0.1rem;
}
/* 菜单 */
/* nav.mamu{
    display: none;
} */
nav.menu{
    height: 100%;
    background-color: #fff;
    font-size: 0.12rem;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: -100%;
    /* top: 0; */
    left: 0;
    padding: 0.15rem;
}
nav.menu .tit{
   margin-bottom: 0.3rem;
    width: 100%;
    position: relative;
}
nav.menu .tit i{
    display: block;
    border: 1px solid #000;
    width: 0.16rem;
    height: 0.16rem;
}
nav.menu .hpic{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.1rem auto;
}
nav.menu .hpic img{
    width: 100%;
    height: auto;
}
nav .item {
    margin-top: 0.5rem;
    color: #666;
}
nav .item li{
    margin: 0.1rem 0;
    font-size: 0;
    padding: 0.05rem 0;
}
nav .item li > a{
    display: block;
    width: 50%;
    font-size: 0.12rem;
    float: left;
}
nav .item li > a > span,
nav .item li > a > i
{
    display: block;
    height: 0.15rem;
    float: left;
}
nav .item li::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
/* 公用 菜单 */
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0, 0.5);
}
    
nav.menu.com{
    left: 0.8rem;
    right: 0;
    width: auto;
    top: 0;
    z-index: 100;
    
}
nav.menu.com .sel{
    padding: 0.05rem
}
.sp-wp{
    min-height: calc(100% - 2.34rem);
    position: relative;
}

.selmenu .item,
nav.menu.com .item{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.1rem;
}
.selmenu .item > li,
nav.menu.com .item > li{
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0.04rem 0.06rem;
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    white-space: nowrap;
    margin: 0.05rem;
}
.selmenu .item > li.act{
    border-color: #2f78a3;
}
.selmenu .item > li.act a{
    color: #2f78a3 !important;

}
.sp-wp .selmenu .item{
    height: 0.4rem;
    overflow: hidden;
}
/* nav.menu.com .item li a:last-child{
    float: right;
} */
/* 首页 */
.swiper-pagination-bullet-active{
    background: red;
}
.bg-w{
    background-color: #fff !important;
}
.m-lay{
    padding: 0.1rem;
    color: #333;
}
.m-lay.bgw{
    background-color: #fff;
}
.m-lay .stc .lpic{
    /* padding: 0.1rem; */
    max-height: 1.8rem;
    overflow: hidden;
}
.m-lay.us .lpic{
    max-height: 1.6rem;
    overflow: hidden;
}
.m-lay .tit{
    text-align: center;
    line-height: 1.5;
}
.m-lay .stc .tit{
    font-size: 0.16rem;
    margin-top: 0.05rem;
}
.m-lay .tit i{
    width: 0.3rem;
    height: 0.3rem;
    background: url(../images/indexs.png) left center no-repeat;
    background-size: auto 0.3rem;
    display: inline-block;
    float: left;
    margin-right: 0.1rem;
    color: #666;
}
.m-lay .tit.jqxc i{
    background-position: -35px center;
}
.m-lay .tit.cxsj i{
    background-position: -70px center;
}
.m-lay .tit.yjgl i{
    background-position: -103px center;
}
.m-lay .tit.us i{
    background-position: -135px center;
}
.m-lay .tit h3{
    /* display: inline-block; */
    float: left;
    line-height: 0.3rem;
}
.m-lay .tit .fr{
    line-height: 0.3rem;
}
.m-lay .tit::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.m-lay .stc .date{
    color: #cdb568;
    font-size: 0.12rem;
    border: 1px solid #cdb568;
    padding: 0.02rem;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.m-lay div.nav{
    /* height: 0.3rem; */
    background: -webkit-linear-gradient(left,#3f76b0, #90c2f7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,#3f76b0, #90c2f7); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#3f76b0, #90c2f7); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,#3f76b0, #90c2f7);
    width: 100%;
    font-size: 0;
    height: 0.25rem;
    position: absolute;
    width: 100%;
    bottom: 0rem;
    z-index: 2;
    left: 0;
    margin-bottom: -0.25rem;
}

.m-lay .nav ul::after{
    content: "";
    height: 0px;
    display: block;
    clear: both;
    /* font-size: 0; */
}
.m-lay .nav li.bullet{
    color: #fff;
    font-size: 0.12rem;
    padding: 0.05rem 0.2rem;
    display: block;
    float: left;
}
.m-lay .nav li.active{
    padding:0.05rem 0.2rem;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    position: relative;
    color: #333;
    font-size: 0.12rem;
}
.m-item{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    /* width: calc(50% - 5px); */
    position: relative; 
    height: 0.83rem;   
}
.m-mod > p{
    line-height: 1.5;
}
.m-lay .m-mod{
    float: left;
    width: 50%;
    margin-bottom: 0.1rem;
    /* padding: 0 0.05rem; */
    /* width: calc(50% - 0.05rem); */
}
.m-lay .m-mod:nth-child(odd){
    padding-right: 0.05rem;
}
.m-lay .m-mod:nth-child(even){
    padding-left: 0.05rem;
}
.m-lay .m-mod .wp{
    margin-left: -0.05rem;
}
.clr-all::after{
    content: "";
    height: 0px;
    display: block;
    clear: both;
}
.m-lay .month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.m-lay .month li{
    flex-shrink: 0;
    flex-grow: 0;
    width: 0.25rem;
}
/* 游记 */
.m-lay .row.yj{
    /* height: 1.1rem; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m-lay .row.yj .m-item{
    height: 1.1rem;
}
.m-lay .row.yj .des{
    max-height: 0.7rem;
    /* overflow: hidden;    */
}
.m-lay .row.yj .m-mod{
    float: none;

}
.m-lay .tit .tpic{
    /* display: inline-block; */
    float: left;
    padding-top: 0.05rem;
}
.m-lay .tit .tpic img{ 
    height: 0.2rem;
    width: auto;
}
.footer{
    background-color: #8ccfea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .mod{
    padding: 0.15rem 0.2rem 0.15rem 0;
    display: flex;
    align-items: center;
}
.footer .mod i{
    flex-shrink: 0;
    width: 0.35rem;
    height: 0.35rem;
    margin-right: 0.1rem;
}
.footer .mod > div{
    /* flex-shrink: 0; */
    line-height: 0.2rem;
}
.footer .qrcode{
    font-size: 0.12rem;
}
.footer .qrcode .pic{
    width: 0.8rem;
    height: 0.8rem;
}
/* 最外层容器 */
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-overflow-scrolling: touch;
}
/* 地区分类 */
.m-lay .cate{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;  
    white-space: nowrap;
}
.m-lay .cate li{
    width: 40%;
    margin: 0 0.02rem;
    height: 0.8rem;
    display: inline-block;
}
.price{
    color: #f48400;
}
.brd-btm{
    border-bottom: 1px solid #eee !important;
}
.btn{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0.05rem;
    border: 0;
}
.btn.btn-solid{
    background-color: #f48400;
    color: #fff;
    text-align: center;
}
